<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
     
      <th scope="row">{{this.product.name}}</th>
      <td><img style="width: 70px;height:70px;" src="/product-images/{{this.product._id}}.jpg"></td>
      <td>{{this.product.price}}</td>
      <td><button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',{{../user}},-1)">-</button>
      <span id="{{this.product._id}}">{{this.quantity}}</span>
      <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',{{../user}},1)">+</button></td>
      <td><button class="btn btn-danger" onclick="removeItem('{{this._id}}','{{this.product._id}}')">Remove</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>
<hr>
<br>
<div class="float-right pr-5">
<h5 class="float-left ml-5">Total: Rs.<span id="total">{{totalValue}}</span></h5>
<a href="/place-order" class="btn btn-success float-right mt-3" style="width: 100%;"><b>Place Order</b></a>
</div>
</div>
<script>
  function changeQuantity(cartId,proId,userId,count){
    let quantity=parseInt(document.getElementById(proId).innerHTML)
    count=parseInt(count)
    $.ajax({
      url:'/change-product-quantity',
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("Product Removed from Cart")
          location.reload()
        }else{
          document.getElementById(proId).innerHTML=quantity+count
          document.getElementById('total').innerHTML=response.total
        }
      }
    })
  }
</script>
